<div data-controller="seats">
  <h2 class="fs-3">Tickets for "<%= @session.movie.title %>" at <%= @session.start_datetime.strftime('%H:%M on %B %d') %></h2>

  <%= render 'movie_sessions/seats_chart', admin: true %>
</div>
