<% content_for(:active_tab) { 'movies' } %>
<h2 class="fs-3 my-4">Admin Movie Panel</h2>
<h3 class="fs-5 my-4">Our movies: </h3>

<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-3">
  <% @movies.each do |movie| %>
    <%= render 'card', movie: movie %>
  <% end %>
</div>
