@import "application.bootstrap";

.no-image {
  height: 29rem;
  background-color: #808080;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
}

.text-clamp-4 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fixed-card-body {
  height: 10.5rem;
}
