@import "application.bootstrap";

.no-image {
  height: 29rem;
  background-color: #808080;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
}

.text-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-clamp-1 { -webkit-line-clamp: 1; }
.text-clamp-4 { -webkit-line-clamp: 4; }

.fixed-card-body {
  height: 10.5rem;
}

.seat {
  background-color: #777;
  width: 15px;
  height: 12px;
  margin: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.seat.space {
  border: 2px dotted #777;
  background-color: transparent;
}

.ticket.seat.space {
  &:hover {
    cursor: default;
  }
  border: 0;
  background-color: transparent;
}

.ticket.seat {
  background-color: #868686;
}

.ticket.seat.selected {
  background-color: #31b2e2;
}

.ticket.seat.booked {
  background-color: #fc9c39;
}

.seat:not(.booked):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.showcase {
  padding: 5px 10px;
  color: #777;
  border-radius: 5px;
  list-style-type: none;
}

.showcase li {
  display: flex;
  align-items: center;
}

.scroll-menu {
  overflow: auto;
  white-space: nowrap;
  max-height: 100%;
  max-width: 100%;
}

.scroll-menu-vertical {
  overflow-y: auto;
  max-height: 100%;
}
