<div id="flashes">
  <% flash.select { |k, v| k.to_s.in?(%w(success danger)) && v.present? }.each do |key, value| %>
    <div class="alert alert-<%= key %>" role="alert">
      <%= value %>
    </div>
  <% end %>
</div>
